#explore {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr) 1fr;
    grid-template-rows: repeat(1fr) 200px;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;

}